@import '../base.css';

#app {
    width: 100vw;
    height: 100vh;
    background: var(--bg-background);
    background-image: url(../img/720_bg.jpg);
    background-size: contain;
}

#main-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 1.8rem;
}
  
@media (min-width: 1024px) {
}